In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker

In [4]:
#read market_data
market_data = pd.read_csv('품목분류별_매출액_통합본_2.csv', engine='python', encoding='UTF-8')

In [5]:
market_data

,품목별,2003,Unnamed: 2,품목별.1,2004,Unnamed: 5,품목별.2,2006,Unnamed: 8,품목별.3,...,2017,Unnamed: 35,품목별.12,2018,Unnamed: 38,품목별.13,2019,Unnamed: 41,품목별.14,2021
0,품목별,출하금액(백만원),NaN,품목별,출하금액(백만원),NaN,품목별,출하금액(백만원),NaN,품목별,...,출하액(백만원),NaN,품목별,출하액(백만원),NaN,품목별,출하액(백만원),NaN,품목별,출하액(백만원)
1,광업및제조업,646464308,NaN,광업및제조업,757066791,NaN,광업및제조업,876453195,NaN,광업및제조업,...,1468456498,NaN,광업및제조업,1521125882,NaN,광업및제조업,1494771123,NaN,광업및제조업,1720361604
2,광업(10~12),2154311,NaN,광업(10~12),2252346,NaN,광업(10~12),2489453,NaN,광업(05~08),...,3369343,NaN,광업(05~08),3203020,NaN,광업(05~08),3047608,NaN,NaN,NaN
3,"석탄,원유및우라늄광업",356227,NaN,"석탄,원유및우라늄광업",376437,NaN,"석탄,원유및우라늄광업",608446,NaN,"석탄,원유및천연가스광업",...,360292,NaN,"석탄,원유및천연가스광업",331651,NaN,"석탄,원유및천연가스광업",260403,NaN,광업(05~08),3262565
4,무연탄,292639,NaN,무연탄,304924,NaN,무연탄,282385,NaN,무연탄(채굴),...,216141,NaN,무연탄(채굴),207286,NaN,무연탄(채굴),159933,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2318,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,산업용기계및장비수리,2101373
2319,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,선박부품수리,332032
2320,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,항공기부품수리,252009
2321,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,사무용기계수리,23997
2322,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,전기ㆍ전자및정밀기기수리,1946366

In [6]:
#첫번째행 제거
# market_data.drop([0], axis=0, inplace=True)
market_data

,품목별,2003,Unnamed: 2,품목별.1,2004,Unnamed: 5,품목별.2,2006,Unnamed: 8,품목별.3,...,2017,Unnamed: 35,품목별.12,2018,Unnamed: 38,품목별.13,2019,Unnamed: 41,품목별.14,2021
1,광업및제조업,646464308,NaN,광업및제조업,757066791,NaN,광업및제조업,876453195,NaN,광업및제조업,...,1468456498,NaN,광업및제조업,1521125882,NaN,광업및제조업,1494771123,NaN,광업및제조업,1720361604
2,광업(10~12),2154311,NaN,광업(10~12),2252346,NaN,광업(10~12),2489453,NaN,광업(05~08),...,3369343,NaN,광업(05~08),3203020,NaN,광업(05~08),3047608,NaN,NaN,NaN
3,"석탄,원유및우라늄광업",356227,NaN,"석탄,원유및우라늄광업",376437,NaN,"석탄,원유및우라늄광업",608446,NaN,"석탄,원유및천연가스광업",...,360292,NaN,"석탄,원유및천연가스광업",331651,NaN,"석탄,원유및천연가스광업",260403,NaN,광업(05~08),3262565
4,무연탄,292639,NaN,무연탄,304924,NaN,무연탄,282385,NaN,무연탄(채굴),...,216141,NaN,무연탄(채굴),207286,NaN,무연탄(채굴),159933,NaN,NaN,NaN
5,연탄,61544,NaN,연탄,69113,NaN,연탄,144523,NaN,원유(채굴한것),...,X,NaN,원유(채굴한것),X,NaN,원유(채굴한것),X,NaN,"석탄,원유및천연가스광업",153625
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2318,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,산업용기계및장비수리,2101373
2319,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,선박부품수리,332032
2320,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,항공기부품수리,252009
2321,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,사무용기계수리,23997
2322,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,전기ㆍ전자및정밀기기수리,1946366

In [8]:
#품목별 열들의 이름이 같은것들을 묶어서 연도별 데이터로 묶는 작업을 for문 같은걸로 진행 할 수 있지 않을까?

# 모든 행이 같은 값을 제거
market_data[market_data.duplicated() ==True] #3개행이 모두 null값을 가짐
# 제거
market_data = market_data.drop_duplicates()
market_data

,품목별,2003,Unnamed: 2,품목별.1,2004,Unnamed: 5,품목별.2,2006,Unnamed: 8,품목별.3,...,2017,Unnamed: 35,품목별.12,2018,Unnamed: 38,품목별.13,2019,Unnamed: 41,품목별.14,2021
1,광업및제조업,646464308,NaN,광업및제조업,757066791,NaN,광업및제조업,876453195,NaN,광업및제조업,...,1468456498,NaN,광업및제조업,1521125882,NaN,광업및제조업,1494771123,NaN,광업및제조업,1720361604
2,광업(10~12),2154311,NaN,광업(10~12),2252346,NaN,광업(10~12),2489453,NaN,광업(05~08),...,3369343,NaN,광업(05~08),3203020,NaN,광업(05~08),3047608,NaN,NaN,NaN
3,"석탄,원유및우라늄광업",356227,NaN,"석탄,원유및우라늄광업",376437,NaN,"석탄,원유및우라늄광업",608446,NaN,"석탄,원유및천연가스광업",...,360292,NaN,"석탄,원유및천연가스광업",331651,NaN,"석탄,원유및천연가스광업",260403,NaN,광업(05~08),3262565
4,무연탄,292639,NaN,무연탄,304924,NaN,무연탄,282385,NaN,무연탄(채굴),...,216141,NaN,무연탄(채굴),207286,NaN,무연탄(채굴),159933,NaN,NaN,NaN
5,연탄,61544,NaN,연탄,69113,NaN,연탄,144523,NaN,원유(채굴한것),...,X,NaN,원유(채굴한것),X,NaN,원유(채굴한것),X,NaN,"석탄,원유및천연가스광업",153625
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2318,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,산업용기계및장비수리,2101373
2319,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,선박부품수리,332032
2320,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,항공기부품수리,252009
2321,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,사무용기계수리,23997
2322,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,전기ㆍ전자및정밀기기수리,1946366

In [11]:
#test
market_data2021 = pd.read_csv('품목분류별_매출액_2021년.csv', engine='python',encoding='') #한글 깨짐 방지
market_data2019 = pd.read_csv('품목분류별_매출액_2019년.csv', engine='python',encoding='CP949')
market_data2018 = pd.read_csv('품목분류별_매출액_2018년.csv', engine='python',encoding='CP949') 
market_data2017 = pd.read_csv('품목분류별_매출액_2017년.csv', engine='python',encoding='CP949') 
market_data2016 = pd.read_csv('품목분류별_매출액_2016년.csv', engine='python',encoding='CP949') 

# 2014,13은 저장 형식이 달라 좀 바꿔줘야한다. 
market_data2014 = pd.read_csv('품목분류별_매출액_2014년.csv', engine='python',encoding='CP949')
market_data2013 = pd.read_csv('품목분류별_매출액_2013년.csv', engine='python',encoding='CP949')

market_data2012 = pd.read_csv('품목분류별_매출액_2012년.csv', engine='python',encoding='CP949')
market_data2011 = pd.read_csv('품목분류별_매출액_2011년.csv', engine='python',encoding='CP949')
market_data2009 = pd.read_csv('품목분류별_매출액_2009년.csv', engine='python',encoding='CP949')
market_data2008 = pd.read_csv('품목분류별_매출액_2008년.csv', engine='python',encoding='CP949')
market_data2007 = pd.read_csv('품목분류별_매출액_2007년.csv', engine='python',encoding='CP949')
market_data2006 = pd.read_csv('품목분류별_매출액_2006년.csv', engine='python',encoding='CP949')
market_data2004 = pd.read_csv('품목분류별_매출액_2004년.csv', engine='python',encoding='CP949')
market_data2003 = pd.read_csv('품목분류별_매출액_2003년.csv', engine='python',encoding='CP949')

품목별        광업및제조업
2003  646464308.0
2004  757066791.0
2006  876453195.0
2007    913844227

In [17]:
#test
import pandas as pd

# CSV 파일 불러오기
input_file = '품목분류별_매출액_통합본_2.csv'
output_file = 'output_file.csv'
df = pd.read_csv(input_file)

for i in range(1,15):
    df.rename(columns={'품목별.{0}'.format(i):'품목별'}, inplace=True)

for i in range(2003,2022):
    df.rename(columns={'{0}'.format(i) : '출하금액(백만원)'}, inplace=True)

df.drop([0], axis=0, inplace=True)

# # 변경할 수 있는 CSV 형식으로 조정하기
# grouped_df = df.groupby('품목별')['출하금액(백만원)'].apply(list).reset_index()

# # 결과를 새로운 CSV 파일로 저장하기
# grouped_df.to_csv(output_file, index=False)

df

,품목별,출하금액(백만원),Unnamed: 2,품목별,출하금액(백만원),Unnamed: 5,품목별,출하금액(백만원),Unnamed: 8,품목별,...,출하금액(백만원),Unnamed: 35,품목별,출하금액(백만원),Unnamed: 38,품목별,출하금액(백만원),Unnamed: 41,품목별,출하금액(백만원)
1,광업및제조업,646464308,NaN,광업및제조업,757066791,NaN,광업및제조업,876453195,NaN,광업및제조업,...,1468456498,NaN,광업및제조업,1521125882,NaN,광업및제조업,1494771123,NaN,광업및제조업,1720361604
2,광업(10~12),2154311,NaN,광업(10~12),2252346,NaN,광업(10~12),2489453,NaN,광업(05~08),...,3369343,NaN,광업(05~08),3203020,NaN,광업(05~08),3047608,NaN,NaN,NaN
3,"석탄,원유및우라늄광업",356227,NaN,"석탄,원유및우라늄광업",376437,NaN,"석탄,원유및우라늄광업",608446,NaN,"석탄,원유및천연가스광업",...,360292,NaN,"석탄,원유및천연가스광업",331651,NaN,"석탄,원유및천연가스광업",260403,NaN,광업(05~08),3262565
4,무연탄,292639,NaN,무연탄,304924,NaN,무연탄,282385,NaN,무연탄(채굴),...,216141,NaN,무연탄(채굴),207286,NaN,무연탄(채굴),159933,NaN,NaN,NaN
5,연탄,61544,NaN,연탄,69113,NaN,연탄,144523,NaN,원유(채굴한것),...,X,NaN,원유(채굴한것),X,NaN,원유(채굴한것),X,NaN,"석탄,원유및천연가스광업",153625
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2318,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,산업용기계및장비수리,2101373
2319,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,선박부품수리,332032
2320,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,항공기부품수리,252009
2321,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,사무용기계수리,23997
2322,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,전기ㆍ전자및정밀기기수리,1946366

In [14]:
# 열 이름 변경
new_cols = ['품목별', '출하금액_2012', 'Unnamed_2_2012', '품목별_2013', '출하금액_2013', 'Unnamed_2_2013',
            '품목별_2014', '출하금액_2014', 'Unnamed_2_2014', '품목별_2015', '출하금액_2015', 'Unnamed_2_2015',
            '품목별_2016', '출하금액_2016', 'Unnamed_2_2016', '품목별_2017', '출하금액_2017', 'Unnamed_2_2017',
            '품목별_2018', '출하금액_2018', 'Unnamed_2_2018', '품목별_2019', '출하금액_2019', 'Unnamed_2_2019',
            '품목별_2020', '출하금액_2020', 'Unnamed_2_2020', '품목별_2021', '2012.1', 'Unnamed_2_2021',
            '품목별_2022', '출하금액_2022', 'Unnamed_2_2022', '품목별_2023', '출하금액_2023', 'Unnamed_2_2023',
            '품목별_2024', '출하금액_2024', 'Unnamed_2_2024', '품목별_2025', '출하금액_2025', 'Unnamed_2_2025',
            '품목별_2026', '출하금액_2026']

df.columns = new_cols
print(df.columns)

Index(['품목별', '출하금액_2012', 'Unnamed_2_2012', '품목별_2013', '출하금액_2013',
       'Unnamed_2_2013', '품목별_2014', '출하금액_2014', 'Unnamed_2_2014', '품목별_2015',
       '출하금액_2015', 'Unnamed_2_2015', '품목별_2016', '출하금액_2016',
       'Unnamed_2_2016', '품목별_2017', '출하금액_2017', 'Unnamed_2_2017', '품목별_2018',
       '출하금액_2018', 'Unnamed_2_2018', '품목별_2019', '출하금액_2019',
       'Unnamed_2_2019', '품목별_2020', '출하금액_2020', 'Unnamed_2_2020', '품목별_2021',
       '2012.1', 'Unnamed_2_2021', '품목별_2022', '출하금액_2022', 'Unnamed_2_2022',
       '품목별_2023', '출하금액_2023', 'Unnamed_2_2023', '품목별_2024', '출하금액_2024',
       'Unnamed_2_2024', '품목별_2025', '출하금액_2025', 'Unnamed_2_2025', '품목별_2026',
       '출하금액_2026'],
      dtype='object')

In [16]:
df
# 변경할 수 있는 CSV 형식으로 조정하기
# grouped_dfs = []
# for year in range(2012, 2027):
#     year_df = df[['품목별', f'출하금액_{year}']].dropna().rename(columns={'출하금액_2012': f'출하금액({year})'})
#     year_df['year'] = year
#     grouped_dfs.append(year_df)

# result_df = pd.concat(grouped_dfs)

# # 결과를 새로운 CSV 파일로 저장하기
# result_df.to_csv(output_file, index=False)

,품목별,출하금액_2012,Unnamed_2_2012,품목별_2013,출하금액_2013,Unnamed_2_2013,품목별_2014,출하금액_2014,Unnamed_2_2014,품목별_2015,...,출하금액_2023,Unnamed_2_2023,품목별_2024,출하금액_2024,Unnamed_2_2024,품목별_2025,출하금액_2025,Unnamed_2_2025,품목별_2026,출하금액_2026
1,광업및제조업,646464308,NaN,광업및제조업,757066791,NaN,광업및제조업,876453195,NaN,광업및제조업,...,1468456498,NaN,광업및제조업,1521125882,NaN,광업및제조업,1494771123,NaN,광업및제조업,1720361604
2,광업(10~12),2154311,NaN,광업(10~12),2252346,NaN,광업(10~12),2489453,NaN,광업(05~08),...,3369343,NaN,광업(05~08),3203020,NaN,광업(05~08),3047608,NaN,NaN,NaN
3,"석탄,원유및우라늄광업",356227,NaN,"석탄,원유및우라늄광업",376437,NaN,"석탄,원유및우라늄광업",608446,NaN,"석탄,원유및천연가스광업",...,360292,NaN,"석탄,원유및천연가스광업",331651,NaN,"석탄,원유및천연가스광업",260403,NaN,광업(05~08),3262565
4,무연탄,292639,NaN,무연탄,304924,NaN,무연탄,282385,NaN,무연탄(채굴),...,216141,NaN,무연탄(채굴),207286,NaN,무연탄(채굴),159933,NaN,NaN,NaN
5,연탄,61544,NaN,연탄,69113,NaN,연탄,144523,NaN,원유(채굴한것),...,X,NaN,원유(채굴한것),X,NaN,원유(채굴한것),X,NaN,"석탄,원유및천연가스광업",153625
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2318,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,산업용기계및장비수리,2101373
2319,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,선박부품수리,332032
2320,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,항공기부품수리,252009
2321,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,사무용기계수리,23997
2322,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,전기ㆍ전자및정밀기기수리,1946366

In [40]:
df = pd.read_csv('매출액_2019.csv', engine='python',encoding='utf-8')
df2 = pd.read_csv('매출액_2018.csv', engine='python',encoding='utf-8')
df

                   품목별   출하액 (백만원)
0             광업 및 제조업  1494771123
1           광 업(05~08)     3047608
2     석탄, 원유 및 천연가스 광업      260403
3              무연탄(채굴)      159933
4            원유(채굴한 것)           X
...                ...         ...
2216    산업용 기계 및 장비 수리     1368004
2217          선박 부품 수리      334980
2218         항공기 부품 수리      126334
2219         사무용 기계 수리       17353
2220   전기ㆍ전자 및 정밀기기 수리      940141

[2221 rows x 2 columns]

In [35]:
df_con = pd.concat((df,df2))
df_con
# df_con.to_csv(output_file, index=False)

                   품목별   출하액 (백만원)
0             광업 및 제조업  1494771123
1           광 업(05~08)     3047608
2     석탄, 원유 및 천연가스 광업      260403
3              무연탄(채굴)      159933
4            원유(채굴한 것)           X
...                ...         ...
2215    산업용 기계 및 장비 수리     1512522
2216          선박 부품 수리      305167
2217         항공기 부품 수리       98145
2218         사무용 기계 수리       12797
2219   전기ㆍ전자 및 정밀기기 수리      917467

[4441 rows x 2 columns]

In [38]:
# 품목을 기준으로 그룹화하고, cumcount 함수를 사용하여 중복되는 값의 인덱스 생성
df_con['인덱스'] = df_con.groupby('품목별').cumcount() + 1

# pivot()을 사용하여 데이터 변경
df_pivot = df_con.pivot(index='품목별', columns='인덱스', values='출하액 (백만원)')

# 열 이름 변경
df_pivot.columns = [f'값{col}' for col in df_pivot.columns]

# 인덱스 재설정
df_pivot.reset_index(inplace=True)

In [41]:
df_pivot
df_pivot.to_csv('wow.csv',index=False)
# 성공 하였다. 
#이때 concat을 2019, 2018 순으로 하여 pivot을 진행하여서, 컬럼의 값이 품목별 2019 2018 -> 먼저 온 순서대로 된다.

In [44]:
# 마지막 확인으로 3개의 파일을 동시에 진행하면 어떻게 될까?
df1 = pd.read_csv('매출액_2019.csv', engine='python',encoding='utf-8')
df2 = pd.read_csv('매출액_2018.csv', engine='python',encoding='utf-8')
df3 = pd.read_csv('매출액_2017.csv', engine='python',encoding='utf-8')

df_con = pd.concat((df3,df2,df1))
# 품목을 기준으로 그룹화하고, cumcount 함수를 사용하여 중복되는 값의 인덱스 생성
df_con['인덱스'] = df_con.groupby('품목별').cumcount() + 1

# pivot()을 사용하여 데이터 변경
df_pivot = df_con.pivot(index='품목별', columns='인덱스', values='출하액 (백만원)')

# 열 이름 변경
df_pivot.columns = [f'값{col}' for col in df_pivot.columns]

# 인덱스 재설정
df_pivot.reset_index(inplace=True)

df_pivot
df_pivot.to_csv('wow_2.csv',index=False)

In [32]:
df_con[df.duplicated() == True]

/var/folders/dg/bjy27c8s5s5790fhqygpt83c0000gn/T/ipykernel_3763/3773896351.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_con[df.duplicated() == True]

Empty DataFrame
Columns: [품목별, 출하액 (백만원)]
Index: []